/* BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #071420;
    color: #fff;
}

/* START ToDo & Spotify */
.ToDoMusic .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff0;
}

/* START To-Do-List Div */
.wrap button {
    /* these settings will remove anything about the apperance of the normal btn */
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

/* the wrap div */
.wrap {
    /* these values here are changable depending on the main website */
    display: flex;
    width: 49%;
}

.todo-wrapper {
    width: 100%;
    max-width: 500px;
    height: 300px;
    background: rgba(84, 106, 123, 0.4);
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 13px;
}

/* start of the to do section */
.todo-wrapper header .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    background: rgba(102, 106, 134, 0.45);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px 13px 0px 0px;
    padding: 10px 20px 7px 13px;
}

.todo-wrapper header h1 {
    color: #E5ECE9;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-left: 8px;
    margin-top: 6px;
}

.todo-wrapper #create {
    color: #E5ECE9;
    font-size: 25px;
}

.todo-wrapper .icon {
    font-weight: 900;
}

/* end of header section */

/*  for the items part */
#list {
    max-height: 350px;
    overflow-y: scroll;
    max-height: 200px;
}

/* this is to style the scroll */
#list::-webkit-scrollbar {
    width: 5.5px;
}

#list::-webkit-scrollbar-thumb {
    background-color: #546b82;
    border-radius: 5px;
    border-radius: 10px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(217, 217, 217, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 17px;

    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 13px 9px 13px;

    transition: all 1.3s ease-out;
}

.item:last-of-type {
    margin-bottom: 25px;
}

.item input[type="checkbox"] {
    margin-right: 8px;
}


.item input[type="text"] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    color: #E5ECE9;
    flex: 1 1 0%;
    /* this order will stretch the text to the left*/
}

/* to make it look like u can type in it */
.item input[type="text"]:not(:disabled) {
    border-bottom: 2px solid #E5ECE9;
}

/* for the completed tasks */
.item.complete {
    opacity: 0.9;
    background-color: rgba(115, 115, 115, 0.4);
}

.item.complete input[type="text"] {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #E5ECE9;
    text-decoration-style: solid;
}

.item:hover,
.item:focus-within {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(115, 115, 115, 0.4);
    transform: translateY(2px);
    transition-delay: 0.2s;
}

/* the action btn of a item  */
.actions {
    display: none;
}

.item:hover .actions,
.item:focus .actions {
    display: contents;
}

.actions button {
    margin-right: 6px;
    opacity: 0.8;
    transform: 0.1s;
    color: #E5ECE9;
}

.actions button.remove-btn {
    color: rgb(240, 9, 55);
    font-weight: 900;
}

.actions button:hover {
    opacity: 1;
}

.actions button:last-of-type {
    margin-right: 0;
}

/* style the custom checkbox */
.item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 20%;
    outline: none;
    cursor: pointer;
}

.item input[type="checkbox"]:checked {
    background-color: #8bb4de;
    border-color: #8bb4de;
    position: relative;
}

.item input[type="checkbox"]:checked::before {
    content: '\2713';
    font-size: 18px;
    font-weight: 900;
    color: #E5ECE9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end of items part */

/* start of the responsive part */

/* to do list responsiveness */
/* Media queries for mobile screens */
@media screen and (max-width: 767px) {
    .wrap {
        padding: 2px;
        width: auto;
        margin-left: -130px;
    }

    .todo-wrapper {
        width: 360px;
        height: 190px;
        margin: 29px 30px 28px 30px;
    }

    .material-symbols-outlined {
        font-size: 27px;
    }

    .todo-wrapper header .title h1 {
        font-family: 'Rounded Mplus 1c';
        font-style: normal;
        font-weight: 500;
    }

    .item input[type="text"] {
        font-size: 15px;
    }

    .item {
        height: 25px;
    }

    .actions button.material-icons .icon {
        font-size: 15px;
        font-weight: 700;
    }

    #list {
        height: 104px;

    }

    .item input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .item input[type="checkbox"]:checked::before {
        font-size: 15px;
    }
}

/* end of mobile screen */
/* for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap {
        margin-top: 20px;
    }

    .todo-wrapper {
        max-width: 450px;
        height: 265px;
        /* margin-left: 30px; */
        /* margin-right: 30px; */
        margin: 29px 0px 0px 0px;
    }

    #list {
        height: 163px;
    }

    header h1 {
        font-family: 'Faustina';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 30px;
    }

    .item input[type="text"] {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
    }

    .item {
        height: 35px;
        padding: 7px 8.5px 7px 10px;
    }

    .actions button.material-icons .icon {
        font-size: 20px;
    }
}


/* end of the responsive part */

/* END To-Do-List Div */

/* START Spotify Div */
.media-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    border-radius: 13px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

/* the nav bar */
.media-wrapper .media-tabs {
    display: flex;
    align-items: center;
    width: 500px;
    background: rgba(102, 106, 134, 0.45);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px 13px 0px 0px;
}

.media-wrapper .media-tabs #spotify-tab {
    padding: 4px 18px 5px 21px;
    height: 42px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
    border-radius: 13px 0px 0px 0px;
    border: none;
    text-align: center;
}

.media-wrapper .media-tabs #radio-tab {
    padding: 4px 18px 5px 21px;
    height: 42px;
    border: none;
    margin-left: -4px;
    text-align: center;
}

.media-wrapper #myTabContent {
    width: 100%;
    height: 100%;
}

.spot-content button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.media-wrapper span,
svg {
    color: #fff;
    fill: #fff;
    background-color: transparent;
}

.media-wrapper .media-tabs #spotify-tab:hover,
.media-wrapper .media-tabs #spotify-tab:focus,
.media-wrapper .media-tabs #radio-tab:hover,
.media-wrapper .media-tabs #radio-tab:focus {
    background: #00000045;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.media-wrapper .spot-content {
    max-height: 375px;
    background: rgba(84, 106, 123, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 259px;
    overflow-y: scroll;
    padding: 10px 2px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 13px 13px;
}

.spot-content::-webkit-scrollbar {
    width: 5.5px;
}

.spot-content::-webkit-scrollbar-thumb {
    background-color: #546b82;
    border-radius: 5px;
    border-radius: 10px;
}

.playlist-btn {
    width: 150px !important;
    height: 200px !important;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 4px;
    filter: brightness(90%);
    transition: filter 0.3s ease;
}

.playlist-btn:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#playlist-container {
    background-color: transparent;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#playlist-container iframe {
    background: transparent;
    margin-left: -8px;
}

#back-to-main {
    display: none;
    width: 50px;
    margin-bottom: -2px;
    margin-top: -6px;
    margin-left: -6px;
}

#back-to-main:hover {
    opacity: 0.9;
}

/*  to make the code responsive */
@media (min-width: 768px) and (max-width: 1024px) {
    .ToDoMusic {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 22%;
        margin-bottom: -6%;
    }

    .media-wrapper {
        width: 49%;
        margin-top: 7%;
        margin-left: 2%;
    }

    .media-wrapper .media-tabs {
        width: 100%;
        /* height: 100%; */
    }

    .media-wrapper .media-tabs #spotify-tab {
        padding: 4px 25px 5px 30px;
        height: 50px;
    }

    .media-wrapper .media-tabs #radio-tab {
        padding: 4px 25px 5px 30px;
        height: 50px;
    }

    .media-wrapper .spot-content {
        max-height: 208px;
        background: rgba(84, 106, 123, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px 2px 20px 20px;
    }

    .spot-content .playlist-btn {
        width: 90px !important;
        height: 140px !important;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-right: 13px;
    }
}

@media (max-width: 767px) {
    .ToDoMusic {
        display: flex;
        padding: 2rem 6.5rem;
        margin-top: 75%;
    }

    .media-wrapper {
        border-radius: 0px;
        margin-left: -94px;
        margin-bottom: -34px;
    }

    .media-wrapper .media-tabs {
        width: 360px;
        height: 50px;
    }

    .media-wrapper .media-tabs #spotify-tab {
        padding: 4px 10px 5px 15px;
        height: 50px;
    }

    .media-wrapper .media-tabs #radio-tab {
        padding: 4px 10px 3px 15px;
        height: 50px;
        border-radius: 0px;
        margin-left: -4px;
    }

    .media-wrapper .spot-content {
        max-height: 375px;
        width: 360px;
        padding: 10px 10px 10px 10px;
        background: rgba(84, 106, 123, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .playlist-btn {
        width: 100px;
        height: 150px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 4px;
    }
}
/* END Spotify Div */
